In [1]:
#Python Day 1
# OOPS - Object Oriented Programming
# created by Guido Van Rossum
# there are 2 versions python2.7 defunct and 3+ versions. Current 3.9.something

In [2]:
print("hello world")

hello world

In [37]:
# indentation and Whitespaces
# 4 spaces - use TAB, ALWAYS
# pycodestyle - Python pep8 coding style
"""eofboe"""


def some_func(num1, num2):
    
    # how to add comments/Documentation for your fucntion or a class
    """hi this a multipleline commment 
    and this gets continued"""

    sum_num = num1 + num2     
    return sum_num

In [38]:
some_func(3, 4)

7

In [43]:
"""hi
wdewd
wede
wededeef"""

'hi\nwdewd\nwede\nwededeef'

In [41]:
dir(some_func(4, 6))

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [44]:
some_func.__doc__

'hi this a multipleline commment \n    and this gets continued'

In [48]:
# varibles

# it doesnt starts with Number, symbols
# variables can start with Alphabets, Underscores


_x = 5

In [49]:
x

5

In [67]:
a, b = 12, 88

In [69]:
a, b = b, a # varible swapping

In [70]:
a, b

(88, 12)

33

In [71]:
x = 56.78

In [72]:
type(x)

float

In [75]:
x = str(x)

In [76]:
x

'56.78'

In [77]:
x = "ABC"
y = "abc"

In [78]:
if x == y:
    print("yes")
else:
    print("NO")

NO

In [80]:
# CamelCase - This is followed in Classes
# snake_case - 

# class DistributionError():
#     return None

# class distribution_error():
#     return None

In [81]:
print(" {} this is the sum of 343545, 3465645 ".format(some_func(343545, 3465645)))

 3809190 this is the sum of 343545, 3465645

In [82]:
# random module
import random

In [84]:
dir(random.random)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [85]:
a = "Python is a OOPS based language"
len(a)

31

In [88]:
if "OOPS" not in a:
    print("ha bhai hai")

In [96]:
#LIST
# sequence data type
# []
# ordered
# indesxing in python starts with 0
# mutable : elements can be changed

my_list = ['pragati', 'gurjeet', 'anshuman', 'srinivas', 'srinivas', "sandeep", "hitendra"]
len(my_list)

7

In [90]:
my_list

['pragati',
 'gurjeet',
 'anshuman',
 'srinivas',
 'srinivas',
 'sandeep',
 'hitendra']

In [94]:
my_list[5] = "srinivas_nunakana"

In [95]:
my_list

['pragati',
 'gurjeet',
 'anshuman',
 'srinivas',
 'srinivas',
 'srinivas_nunakana',
 'hitendra']

In [99]:
my_list[::-1]   #to reverse a list

['hitendra',
 'sandeep',
 'srinivas',
 'srinivas',
 'anshuman',
 'gurjeet',
 'pragati']

In [100]:
my_list

['pragati',
 'gurjeet',
 'anshuman',
 'srinivas',
 'srinivas',
 'sandeep',
 'hitendra']

In [101]:
my_list[0], my_list[1], my_list[2] = 3121, 3119, 2887

In [102]:
my_list

[3121, 3119, 2887, 'srinivas', 'srinivas', 'sandeep', 'hitendra']

In [103]:
my_list.append(True)

In [104]:
my_list

[3121, 3119, 2887, 'srinivas', 'srinivas', 'sandeep', 'hitendra', True]

In [1]:
#day 2

In [2]:
# tuples
# its a collection/sequence data type
# homogenous
# immutable
# ()


my_tuple = ('abc', 1, 1.1, True)

In [4]:
type(my_tuple)

tuple

In [7]:
def any_func(*args):
    print(*args)

In [6]:
any_func(34,45,66)

34 45 66

In [8]:
my_tuple
# 1232322

('abc', 1, 1.1, True)

In [11]:
for i, v in enumerate(my_tuple):
    print(i, "is the index of my value ", v)

0 is the index of my value  abc
1 is the index of my value  1
2 is the index of my value  1.1
3 is the index of my value  True

In [12]:
if 1.1 in my_tuple:
    print("yes its there")

yes its there

In [37]:
my_tuple.count(1.1)

1

In [36]:
my_list = list(my_tuple)
my_list.count(1.1)

1

In [19]:
my_tuple

('abc', 1, 1.1, True)

In [31]:
my_another_tuple = (2,)

In [32]:
type(my_another_tuple)

tuple

In [33]:
# in python single quotes and double quotes are the same thing
abc = "Pragati"
bbc = 'Pragati'
abc == bbc

True

In [34]:
my_tuple = my_tuple + my_another_tuple

In [35]:
my_tuple

('abc', 1, 1.1, True, 2)

In [87]:
# dictionaries
# As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.
# key value pair


car =  {
            'model': 'Mustang',
            'year': 1969,
            'cc': 5500.41,
            'Is_passed':True
        }

In [88]:
car

{'model': 'Mustang', 'year': 1969, 'cc': 5500.41, 'Is_passed': True}

In [89]:
# dictionary methods
# keys()
print(list(car.keys()))

# values()
print(list(car.values()))

# items()
print(list(car.items()))
# zip

# update

# sample_dict['city_state'] = "hr"  		# way 1
# sample_dict.update({'city_state':"hr"})   			# way 2
# sample_dict = {**sample_dict,  **{'city_state':"hr"}}		# way 3
# sample_dict |= {'city_state':"hr"} 				# way 4
# sample_dict = sample_dict|{'city_state':"hr"}			# way 5

car['type'] = 'Petrol'
car

car_company = {"company": "ford"}
car.update(car_company)


car_color = {"color":"orange"}
car = {**car, **car_color}
car
# get()

['model', 'year', 'cc', 'Is_passed']
['Mustang', 1969, 5500.41, True]
[('model', 'Mustang'), ('year', 1969), ('cc', 5500.41), ('Is_passed', True)]

{'model': 'Mustang',
 'year': 1969,
 'cc': 5500.41,
 'Is_passed': True,
 'type': 'Petrol',
 'company': 'ford',
 'color': 'orange'}